<h1>{{title}}</h1>



<img src="{{Foto}}" alt="Currie">
<p>{{Texto3}}</p>



<em><p>{{Texto}}</p></em>
<em><p>{{Texto1}}</p></em>
<p>{{Texto2}} <a href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0123-59232003000100004">Ver más</a></p>


<a href="/">
  <h2>index</h2>
</a>
<a href="/Currie">LAUCHLIN CURRIE</a> &nbsp <a href="/Hirshman">ALBERT HIRSCHMAN</a> &nbsp
<a href="/omekaCurrie">LAUCHLIN CURRIE OMEKA</a> &nbsp <a href="/omekaHirshman">ALBERT HIRSCHMAN OMEKA</a>
&nbsp <a href="/d3">D3 LAUCHLIN CURRIE Y ALBERT HIRSCHMAN</a>
<br> <br>
