<h1>{{title}}</h1>


<img src="{{Foto}}" alt="Hirshman">

<p>{{Texto}}</p>
<p>{{Texto1}}</p>
<p>{{Texto2}}</p>
<p>{{Texto3}}</p>
<em><p><p>{{Cita}}</p></p></em>
<em><p>{{Cita1}}</p></p></em>
<p>{{Cita2}} <a href="https://economia.uniandes.edu.co/publicaciones/revista-desarrollo-y-sociedad/no-62/albert-hirschman-en-colombia-y-la-planeacion-del-desarrollo">Ver más</a></p>
</p>


<a href="/">
  <h2>index</h2>
</a>
<a href="/Currie">LAUCHLIN CURRIE</a> &nbsp <a href="/Hirshman">ALBERT HIRSCHMAN</a> &nbsp
<a href="/omekaCurrie">LAUCHLIN CURRIE OMEKA</a> &nbsp <a href="/omekaHirshman">ALBERT HIRSCHMAN OMEKA</a>
&nbsp <a href="/d3">D3 LAUCHLIN CURRIE Y ALBERT HIRSCHMAN</a>
<br> <br>
